.r90 {
    transform: rotate(90deg);
}

.r180 {
    transform: rotate(180deg);
}

.r270 {
    transform: rotate(270deg);
}

.r0 {
    transform: rotate(0deg);
}

.v-flip {
    transform: scale(-1, 1);
}

.h-flip {
    transform: scale(1, -1);
}